@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bodyBg: #f5f5f5;
}

body {
  background-color: var(--bodyBg);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
